<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936218865521-ef1niml13mm89ktgaockbkg5us0blnol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936218865521-ef1niml13mm89ktgaockbkg5us0blnol</string>
	<key>API_KEY</key>
	<string>AIzaSyAlrH4Kjtj84QO2aOVBKwoZ4A3IK_5s3VI</string>
	<key>GCM_SENDER_ID</key>
	<string>936218865521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ermine-Harutynyan.InterfaceDesignVK-1</string>
	<key>PROJECT_ID</key>
	<string>interfacedesignvk</string>
	<key>STORAGE_BUCKET</key>
	<string>interfacedesignvk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936218865521:ios:41a4cc544a86e5668110d0</string>
	<key>DATABASE_URL</key>
	<string>https://interfacedesignvk.firebaseio.com</string>
</dict>
</plist>